<div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
<div class="page-header">
  <h1>{{ post.title }} <small>{{ post.publishDate }}</small></h1>
</div>
<span ng-if='post.image'>
<img ng-src='{{ post.image }}' class='img-responsive'> <br/>
</span>

<p> {{ post.description }}</p>

<hr/>
<h3>Comments</h3>
<div class='row' ng-show='comments.length > 0'>
    <div class='col-sm-6'>
        <input class='form-control' type='text' ng-model='query' placeholder='Filter Comments' /> <br/>
    </div>
</div>
<ul ng-show='comments.length > 0'>
    <li ng-repeat='comment in comments | filter: query'>
            {{ comment.content }}<br/> <small>Replies: {{ comment.reply_count }} | <a href='#' class='' confirm-click='Do you want to delete this?' confirmed-click='deleteComment(comment)'>Remove</a></small>
            <br/>
            <div class='col-sm-6'>
                <p style='color:red;' ng-if='reply.content'>Preview: {{ reply.content }}</p>
                <form ng-submit='addCommentReply(reply, comment)'>
                    <textarea class='form-control'  ng-model='reply.content'></textarea>
                    <input class='btn btn-default btn-sm' type='submit' value='Reply'/>
                </form>
            </div>
            <div class='clearfix'></div>
            <br/>
            <br/>
    </li>
</ul>

<hr/>
        <div class='row'>
            <div class='col-sm-6'>
                <p style='color:red;' ng-if='newComment.content'>Preview: {{ newComment.content }}</p>
                <form ng-submit='addNewComment()'>
                    <textarea class='form-control'  ng-model='newComment.content'></textarea>
                    <input class='btn btn-default' type='submit' value='Add Comment'/>
                </form>
            </div>
        </div>

    </div>
</div>